body {
    font-family: 'Raleway', sans-serif;
    background: url('') no-repeat center center fixed;
    background-size: cover;
}


/* ============= css related to chats =============== */

.widget {
    display: none;
    width: 100%;
    right: 10px;
    bottom: 5%;
    position: fixed;
    background: #f7f7f7;
}

.chat_header {
    height: 60px;
    /* background: rgb(90, 23, 238); */
    background: rgb(44 60 146);
    padding: 5px;
    font-size: 20px;
}

.chat_header_title {
    color: white;
    float: left;
    margin : 1.5% auto auto 3%;
    font-size: 22px;
}

.chats {
    /* display: none; */
    height: 440px;
    width: 100%;
    padding: 2px;
    border-radius: 1px;
    overflow-y: scroll;
    margin-top: 1px;
    transition: 0.2s;
}

div.chats::-webkit-scrollbar {
    overflow-y: hidden;
    width: 0px;
    /* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}

.clearfix {
    margin-top: 2%;
    margin-bottom: 2%;
}

.botAvatar {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    float: left;
    margin-left: 5px;
    /* border: 2px solid  #2c53af ; */
}

.botMsg {
    float: left;
    margin-top: 5px;
    /* background: rgb(203, 205, 209); */
    background:#f7ecec21;
    color: black;
    box-shadow: 2px 3px 9px 0px #9a82842e;
    margin-left: 10px;
    padding: 10px;
    border-radius: 1.5em;
    max-width: 60%;
    min-width: 25%;
    word-wrap: break-word;
    border-radius: 0 20px 20px 20px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    box-shadow: none;
    resize: none;
    outline: none;
    overflow: hidden;
    font-family: Raleway;
}

textarea::-webkit-input-placeholder {
    font-family: Raleway;
}

textarea-webkit-scrollbar {
    width: 0 !important
}

.userMsg {
    animation: animateElement linear 0.2s;
    animation-iteration-count: 1;
    margin-top: 5px;
    word-wrap: break-word;
    padding: 10px;
    float: right;
    margin-right: 0.5em;
    /* background: linear-gradient(45deg, rgb(44, 60, 146), rgb(245 236 236 / 60%)); */
    background-color: rgb(44, 60, 146) !important;
    color: white;
    margin-bottom: 0.15em;
    max-width: 65%;
    min-width: 15%;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 0px 2px 5px 0px #9a828454;
}

.userAvatar {
    animation: animateElement linear 0.3s;
    animation-iteration-count: 1;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    float: right;
    margin-right: 5px;
    /* border: 2px solid  #2c53af ; */
}

.usrInput {
    padding: 0.5em;
    width: 80%;
    margin-left: 4%;
    border: 0;
    padding-left: 15px;
    height: 40px;
}

.keypad {
    /* display: none;  */
    background: white;
    height: 50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 1%;
}

#sendButton {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-right: 30px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #2b2bab;
}

.imgProfile {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 #00000096;
    /* border-radius: 50px; */
    border-radius: 34px 8px 34px 34px;
    width: 100%;
}
@media(min-width: 950px){
	.imgProfile{
		width: 60%;
	}
}

.profile_div {
    /* display: none; */
    position: fixed;
    padding: 5px;
    width: 15%;
    bottom: 0;
    right: 0;
    cursor: pointer;
}


/* css for dropdown menu of the bot */

#close,
#restart,
#logout {
    cursor: pointer;
}

.dropdown-trigger {
    cursor: pointer;
    color: white;
    margin-right: 5px;
    float: right;
    margin-top : 1.6%;
}

.dropdown-content li>a,
.dropdown-content li>span {
    /* color: #5a17ee; */
    display: flex;
    font-size: 16px;
    color: #212121  !important;
    flex: auto;
    align-items: center;
    word-break: break-word;
    padding-right: 8px;
    font-family:arial,sans-serif  !important;
    line-height: 18px;
}

@keyframes animateElement {
    0% {
        opacity: 0;
        transform: translate(0px, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}


/*========== css related to chats elements============= */


/* css for card details of carousel cards */

.content {
    transition: 0.2s;
    display: none;
    width: 350px;
    right: 15px;
    height: 500px;
    bottom: 5%;
    position: fixed;
    background: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 10px 1px #b5b5b5;
}

.content_header {
    object-fit: cover;
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0px 0px;
}

.content_data {
    overflow-y: scroll;
    height: 70%;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 30%;
    z-index: 1000;
    border-radius: 10px;
    background: white;
    padding: 5px;
    box-shadow: 0px -1px 20px 3px #9c9393ba;
}

.content_title {
    color: black;
    font-weight: 600;
    word-wrap: break-word;
    padding-left: 5px;
    font-size: 1.2em;
    width: 80%;
    border-radius: .28571429rem;
}

.votes {
    font-size: 12px;
    color: lightslategray;
}

.ratings {
    margin-top: 5px;
    background: #9ACD32;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.user_ratings {
    border-radius: .28571429rem;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.total_ratings {
    font-size: 12px;
    opacity: .5;
    margin-left: 5px;
}

.content_data>.row .col {
    padding: 5px;
}

.metadata_1,
.metadata_2,
.metadata_3,
.metadata_4,
.row {
    margin-bottom: 0px;
}

.metadata_1 {
    color: lightslategrey;
    padding: 5px;
}

.order,
#closeContents {
    color: #2c53af;
}

.metadata_2,
.metadata_3,
.metadata_4,
.metadata_5,
.metadata_6 {
    color: lightslategrey;
    padding: 5px;
}

.average_cost,
.timings,
.location,
.cuisines {
    width: 70%;
    float: right;
    margin-right: 25%;
}

.fa .fa-user-o {
    font-size: 15px;
}

.fa-external-link {
    position:relative;
    float:right;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 1.5em;
}

.multi_simpleCardContents > .fa-external-link {
    float:right;
    margin-top: 2px;
    
    
}
.fa-eye{
    position:relative;
    float:right;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 1.8em;
    color: black;   
}
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

div.content::-webkit-scrollbar {
    width: 0 !important
}

div.content_data::-webkit-scrollbar {
    overflow-y: hidden;
    width: 0px;
    /* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}


/* css for single card */

.singleCard {
    padding-left: 32px;
    padding-right: 10px;
}
.singleCardBtn {
    /*margin-top: 84px;*/
}


/* css for image card */

.imgcard {
    width: 60%;
    height: auto;
    border-radius: 5px;
    margin-left: 10px;
    background-image: cover;
}


/* css for suggestions buttons */

.suggestions {
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 2px 5px 5px 1px #dbdade;
    margin-left: 5px;
}

.menuTitle {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    padding: 5px;
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.menuChips {
    display: block;
    /* Added */
    background: linear-gradient(45deg, rgb(44, 83, 175), rgb(243 243 243 / 33%));
    /* background: #2c53af; */
    background-color: rgb(44, 83, 175) !important;
    color: #fff;
    text-align: center;
    padding: 5px;
  
    cursor: pointer;
    border-radius: 15px;
    font-size: 14px;
    word-wrap: break-word;
}


/* cards carousels */

.cards {
    display: none;
    position: relative;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}

.cards_scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 210px;
    width: 300px;
    transition: width 0.5s ease;
    margin-left: 5px;
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
}

.cards_scroller img {
    border-radius: 10px;
}

.cards div.note {
    position: absolute;
    /* vertically align center */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;
    font-size: 4em;
    color: white;
}

.cards .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.cards .arrow.next {
    display: none;
    font-size: 2em;
    opacity: 0.5;
    right: 10px;
}

.cards .arrow.prev {
    display: none;
    font-size: 2em;
    opacity: 0.5;
    left: 10px;
}

.cards_scroller::-webkit-scrollbar {
    width: 0 !important
}

.cards_scroller>div.carousel_cards {
    margin: 5px;
    scroll-snap-align: center;
    position: relative;
    scroll-behavior: smooth;
}

.cards_scroller div.carousel_cards {
    min-width: 50%;
    min-height: 70%;
    background: #b5b5b5;
    border-radius: 10px;
}

/*
simple Cards
*/

.simple_cards_scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 210px;
    width: 100%;
    transition: width 0.5s ease;
    
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
}

.simple_cards_scroller img {
    border-radius: 10px;
}

.simple_cards div.note {
    position: absolute;
    /* vertically align center */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;
    font-size: 4em;
    color: white;
}

.simple_cards .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.simple_cards .arrow.next {
    display: none;
    font-size: 2em;
    color: #ffffff;
    right: 10px;
}

.simple_cards .arrow.prev {
    display: none;
    font-size: 2em;
    color: #ffffff;
    left: 10px;
}

.simple_cards_scroller::-webkit-scrollbar {
    width: 0 !important
}

.simple_cards_scroller>div.simple_carousel_cards {
    margin: 5px;
    scroll-snap-align: center;
    position: relative;
    scroll-behavior: smooth;
}

.simple_cards_scroller div.simple_carousel_cards {
    
    min-height: 70%;
    background: rgb(230, 230, 225);
    box-shadow: 2px 2px 10px rgb(163, 163, 160);
    border-radius: 0px 0px 10px 10px;
}


/*
Inside simple Card
Elements
*/

.simpleCardCounts {
    color:black;
    top: 40%;
    margin-left:4%;
    position: absolute;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.simpleCardAmount {
    color:black;
    top: 60%;
    margin-left:4%;
    position: absolute;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.countamount{
 font-weight: 700;
 white-space: nowrap;
 font-family: Georgia,serif;
 overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.multi_simpleCardAmount > .countamount {
    color:#300111;
}


/*
graphCardCarousel
*/


.graph_cards_scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 290px;
    width: 100%;
    transition: width 0.5s ease;
    
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
}

.graph_cards_scroller img {
    border-radius: 10px;
}

.graph_cards div.note {
    position: absolute;
    /* vertically align center */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;
    font-size: 4em;
    color: white;
}

.graph_cards .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.graph_cards .arrow.next {
    display: none;
    font-size: 2em;
    color: #ffffff;
    right: 10px;
}

.graph_cards .arrow.prev {
    display: none;
    font-size: 2em;
    color: #ffffff;
    left: 10px;
}

.graph_cards_scroller::-webkit-scrollbar {
    width: 0 !important
}

.graph_cards_scroller>div.graph_carousel_cards {
    margin: 5px;
    scroll-snap-align: center;
    position: relative;
    scroll-behavior: smooth;
}

.graph_cards_scroller div.graph_carousel_cards {
    
    min-height: 70%;
    width: 100%;
    background: rgb(230, 230, 225);
    box-shadow: 2px 2px 10px rgb(163, 163, 160);
    border-radius: 0px 0px 10px 10px;
}


/*
Inside graph Card
Elements
*/

/*.simpleCardCounts {
    color:black;
    top: 40%;
    margin-left:4%;
    position: absolute;
}

.simpleCardAmount {
    color:black;
    top: 60%;
    margin-left:4%;
    position: absolute;
}
.countamount{
 font-weight: 700;
 white-space: nowrap;
 font-family: Georgia,serif;
}*/


/*End Of graph Card*/


/*
multi simple Cards
*/

.multi_simple_cards_scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    /* height: 420px; */
    height:80%;
    width: 100%;
    transition: width 0.5s ease;
    flex-direction: row;
    align-items: stretch;
    
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
}

.multi_simple_cards_scroller img {
    border-radius: 10px;
}

.multi_simple_cards div.note {
    position: absolute;
    /* vertically align center */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;
    font-size: 4em;
    color: white;
}

.multi_simple_cards .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.multi_simple_cards .arrow.next {
    display: none;
    font-size: 2em;
    color: #ffffff;
    right: 10px;
}

.multi_simple_cards .arrow.prev {
    display: none;
    font-size: 2em;
    color: #ffffff;
    left: 10px;
}

.multi_simple_cards_scroller::-webkit-scrollbar {
    width: 0 !important
}

.multi_simple_cards_scroller>div.multi_simple_carousel_cards {
    margin: 5px;
    scroll-snap-align: center;
    position: relative;
    scroll-behavior: smooth;
}

.multi_simple_cards_scroller div.multi_simple_carousel_cards {
    
    min-height: 70%;
    /* background: rgb(230, 230, 225); */
    box-shadow: 2px 2px 10px rgb(163, 163, 160);
    border-radius: 0px 0px 10px 10px;
    /* Added now */
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}




/*
Inside simple Card
Elements
*/

.multi_simpleCardMainBody {
    display: flex;
    padding: 5px;
    flex-wrap: nowrap;
    height: calc(100% - 4em);
    flex-direction: column;
    border: solid 1px #e3dbdbde;
    overflow-y: scroll;
    min-height: calc(100% - 10em);
    align-content: stretch;
    align-items: stretch;
    /* -webkit-box-shadow: 6px 0px 14px -1px rgb(118, 105, 118);
    -moz-box-shadow: 6px 0px 14px -1px rgb(118, 105, 118);
    box-shadow: 6px 0px 14px -1px rgb(118, 105, 118); */
    -webkit-box-shadow: rgb(118, 105, 118) 6px 8px 14px -1px;
    -moz-box-shadow: rgb(118, 105, 118) 6px 8px 14px -1px;
    box-shadow: rgb(118, 105, 118) 6px 8px 14px -1px;
    
    /* Added */
    background: rgb(230, 230, 225);

}

.multi_simpleCardContents {
    margin-top: 10px;
    /* background-color:#e2d08da8; */
    /* background-color: #e6fcfe; */
    width: 100%;
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.multi_simpleCardCounts {
    color:black;
    /* top: 40%; */
    /* margin-left:4%;
    position: absolute; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi_simpleCardAmount {
    color:black;
    margin-left:4%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

/* 
End Of
multi simple Cards
*/



/*
multi simple Cards2
*/

.multi_simple_carousel_wrapper2 {
    display: block;
    /* background: #20005a; */
    background: rgb(44 60 146);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;
}

.multi_simple_cards_scroller2 {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    /* height: 420px; */
    height:80%;
    width: 100%;
    transition: width 0.5s ease;
    flex-direction: column;
    align-items: stretch;
    
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
}

.multi_simple_cards_scroller2 img {
    border-radius: 10px;
}

.multi_simple_cards2 div.note {
    position: absolute;
    /* vertically align center */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;
    font-size: 4em;
    color: white;
}

.multi_simple_cards2 .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.multi_simple_cards2 .arrow.next {
    display: none;
    font-size: 2em;
    color: #ffffff;
    right: 10px;
}

.multi_simple_cards2 .arrow.prev {
    display: none;
    font-size: 2em;
    color: #ffffff;
    left: 10px;
}

.multi_simple_cards_scroller2::-webkit-scrollbar {
    width: 0 !important
}

.multi_simple_cards_scroller2>div.multi_simple_carousel_cards2 {
    margin: 5px;
    scroll-snap-align: center;
    position: relative;
    scroll-behavior: smooth;
}

.multi_simple_cards_scroller2 div.multi_simple_carousel_cards2 {
    
    /* min-height: 70%; */
    /* background: rgb(230, 230, 225); */
    /* Added now */
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
    /* Removed shadow */
    /* box-shadow: 2px 2px 10px rgb(163, 163, 160);
    border-radius: 0px 0px 10px 10px; */
}




/*
Inside simple Card2
Elements
*/

.multi_simpleCardMainBody2 {
    display: flex;
    padding: 5px;
    flex-wrap: nowrap;
    height: calc(100% - 4em);
    flex-direction: row;
    /* border: solid 1px #e3dbdbde; */
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: calc(100% - 10em);
    align-content: stretch;
    align-items: stretch;
    /* -webkit-box-shadow: 6px 0px 14px -1px rgb(118, 105, 118);
    -moz-box-shadow: 6px 0px 14px -1px rgb(118, 105, 118);
    box-shadow: 6px 0px 14px -1px rgb(118, 105, 118); */
    /* Removed */
    /* -webkit-box-shadow: rgb(118, 105, 118) 6px 8px 14px -1px;
    -moz-box-shadow: rgb(118, 105, 118) 6px 8px 14px -1px;
    box-shadow: rgb(118, 105, 118) 6px 8px 14px -1px; */
    
    /* Added */
    /* background: rgb(230, 230, 225); */
    /* background: rgb(40, 4, 104); */
    background: rgb(44 60 146);
}

.multi_simpleCardMiniHeader2 > span > i.fa-external-link {
    color:black;
    margin-top: 10px !important;
    margin-right: 8px !important;
}

.multi_simpleCardContents2 {
    margin-top: 10px;
    /* background-color:#e2d08da8; */
    /* background-color: #e6fcfe; */
    width: 100%;
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    margin-right: 8px;
    border-radius: 10%;
}

.multi_simpleCardCounts2 {
    color:black;
    /* top: 40%; */
    /* margin-left:4%;
    position: absolute; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi_simpleCardAmount2 {
    color:black;
    margin-left:4%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

/* 
End Of
multi simple Cards2
*/


@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-duration: 0.8s;
    animation-delay: 0.8s;
}


/* css for cards within the cards carousels */

.cardBackgroundImage {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.cardFooter {
    background: rgba(56, 53, 60, 0.86);
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    z-index: 3;
    color: white;
    bottom: 0;
    width: 100%;
    height: 30%;
    word-wrap: break-word;
    padding: 1px;
}

/*
For Simple Cards
*/
.simpleCardHeader {
    background: rgba(44, 83, 175);
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    z-index: 3;
    color: white;
    top: 0;
    width: 100%;
    height: 26%;
    word-wrap: break-word;
    padding: 1px;
}
.cardTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 78%;
    height: 60%;
    display: inline-block;
    margin-bottom: 5%;
    font-size: 1.15rem;
    /* font-weight: 600; */
    padding-left: 2%;
    padding-top: 3%;
    padding-right: 0px;
    /* color: #2c53af; */
    color: #ffffff;
    cursor: pointer;
    margin-top:5%;
}
.simpleCardHeader {
    background: rgba(44, 83, 175);
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    z-index: 3;
    color: white;
    top: 0;
    width: 100%;
    height: 26%;
    word-wrap: break-word;
    padding: 1px;
}
.multi_simpleCardHeader {
    /* background: rgba(44, 83, 175); */
    background: rgba(247, 236, 236, 0.13) !important;
    border-radius: 0px 0px 5px 5px;
    /* position: absolute; */
    /* z-index: 3; */
    color: white;
    /* top: 0; */
    width: 100%;
    /* height: 14%; */
    height:7%;
    word-wrap: break-word;
    padding: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    margin-bottom:5px;
    min-height: 50px;
    /* Shadow Added */
    -webkit-box-shadow: 0px 6px 9px 5px rgb(195 199 226 / 73%);
    -moz-box-shadow: 0px 6px 9px 5px rgb(195 199 226 / 73%);
    box-shadow: 0px 6px 9px 5px rgb(195 199 226 / 73%);
}

.multi_simpleCardMiniHeader{
    color:white;
    /* background-color: rgba(44, 83, 175); */
    /* background-color: rgba(247, 236, 236, 0.13) !important; */
    
    padding-bottom:5px;
    background: #f7f6f6;

}

.multi_simpleCardMiniHeader > .cardTitle{
    font-weight: 600;
    /* color: #f3e5e5 !important; */
    color: black;
}

.multi_simpleCardMiniBody {
    display:flex;
    padding:5px;
    flex-wrap: nowrap;
    height: auto;
    flex-direction: column;
    background: white;
}
.multi_simpleCardHeader > span.cardTitle {
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 78%;
height: 60%;
display: inline-block;
margin-bottom: 3%;
font-size: 1.15rem;
font-weight: 600;
padding-left: 2%;
padding-top: 3%;
padding-right: 0px;
/* color: #2c53af;
color: #ffffff; */
color: black;
cursor: pointer;
margin-top: 5%;
text-align: center;
}
.cardDescription {
    padding: 5px;
    font-size: 13px;
    color: white;
    line-height: 15px;
}



/*
multi content2 Inside*/

.multi_simpleCardHeader2 {
    /* background: rgba(44, 83, 175); */
    /* background: rgba(247, 236, 236, 0.13) !important; */
    border-radius: 0px 0px 5px 5px;
    /* position: absolute; */
    /* z-index: 3; */
    color: white;
    /* top: 0; */
    width: 100%;
    /* height: 14%; */
    height:7%;
    word-wrap: break-word;
    padding: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    margin-bottom:5px;
    min-height: 50px;
    /* Shadow Added */
    /* -webkit-box-shadow: 0px 6px 9px 5px rgb(195 199 226 / 73%);
    -moz-box-shadow: 0px 6px 9px 5px rgb(195 199 226 / 73%);
    box-shadow: 0px 6px 9px 5px rgb(195 199 226 / 73%); */
}

.multi_simpleCardMiniHeader2{
    color:white;
    /* background-color: rgba(44, 83, 175); */
    /* background-color: rgba(247, 236, 236, 0.13) !important; */
    
    padding-bottom:5px;
    background: #f7f6f6;
    border-radius: 20px 20px 0% 0%;

}

.multi_simpleCardMiniHeader2 > .cardTitle{
    font-weight: 600;
    /* color: #f3e5e5 !important; */
    color:black !important;
}

.multi_simpleCardMiniBody2 {
    display:flex;
    padding:5px;
    flex-wrap: nowrap;
    height: auto;
    flex-direction: column;
    background: white;
    border-radius: 0% 0% 10% 10%;
}
.multi_simpleCardHeader2 > span.cardTitle {
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 78%;
height: 60%;
display: inline-block;
margin-bottom: 3%;
font-size: 1.15rem;
font-weight: 600;
padding-left: 2%;
padding-top: 3%;
padding-right: 0px;
/* color: #2c53af;
color: #ffffff; */
color: white;
cursor: pointer;
margin-top: 0px;
text-align: center;
height:100%;
}



/*End Of multi content 2*/




.graphCardHeader {
    background: rgba(44, 83, 175);
    border-radius: 0px 0px 5px 5px;
    z-index: 3;
    color: white;
    top: 0;
    width: 100%;
    height: 26%;
    word-wrap: break-word;
    padding: 1px;
}


/*css for dropDown messages*/

.dropDownMsg {
    float: left;
    margin-top: 5px;
    background: white;
    color: black;
    box-shadow: 2px 3px 9px 0px #9a82842e;
    margin-left: 0.5em;
    padding: 10px;
    border-radius: 1.5em;
    max-width: 60%;
    min-width: 25%;
    font-size: 13px;
    word-wrap: break-word;
}

.dropDownMsg>select {
    border: 0px solid #f2f2f2;
}


/* css for quick replies */

.quickReplies {
    padding: 5px;
    /* position: relative; */
    /* Later Added */
    position: sticky;
    bottom: 0;
    /* width: 100%; */
    width: calc(100% - 25px);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    scroll-behavior: smooth;
    grid-template-columns: 50%;
    /* Adjusting left gap */
    left: 25px;
    z-index:2;
}

.quickReplies::-webkit-scrollbar {
    width: 0 !important
}

.quickReplies.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.chip {
    background-color: white;
    border: 1px solid #2c53af;
    color: #2c53af;
    font-weight: bolder;
    text-align: center;
}

.chip:hover {
    background-color: #2c53af;
    color: white;
}


/* css for charts */

#expand:hover {
    font-size: 18px;
}

#expand {
    position: absolute;
    right: 10px;
    top: 10px;
}

.expand:hover {
    font-size: 18px;
}

.expand {
    position: absolute;
    right: 10px;
    top: 10px;
}
.modal {
    height: 60%;
    border-radius: 10px;
}
.meta-modal{
    height: 60%;
    background-color: rgb(214, 212, 206);
}
.modaltable{
    height: 60%;
    border-radius: 10px;
    margin-top:25%;
}
@media(min-width: 550px){
    .modaltable{
        height: 40%
    }
}
@media(min-width: 950px){
    .modaltable{
        height: 62%;
    }
    .modaltable{
        margin-top:12%;
    }
}

@media(min-height: 900px){
    .multi_simpleCardMainBody {
        height: calc(100% - 5em);
    }
}
.cardpreviewHeader{
    width:100%;
    height:20%;
    background-color:rgb(44, 83, 175);
}
.cardpreviewTitle{
    font-size:1.7rem;
    margin-left:5%;
    line-height:3;
    color:white;
}
.cardpreviewtitles{
    word-wrap: break-word;
}
.cardpreviewdata{
    font-size:1.5rem;
    margin:2% 3% 3% 3%;
    display:grid;
    grid-template-columns:60% 40%;
}
.cardpreviewvariables{
    font-weight:600;
    font-family:Georgia;
    word-wrap: break-word;
}
.chart-container {
    position: relative;
    margin-left: 40px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    background: white;
    box-shadow: 2px 3px 9px 0px #9a82847a;
    margin-top: 5px;
}
/*
Added these classes

.chart-container > canvas {
	position: absolute;
	left:0;
	top:0;
	pointer-events:none;
	overflow-x: scroll;
}
.chartAreaWrapper {
	width:200px;
	overflow-x: scroll;
}
/*
upto here added
*/

.gallery2 {
    cursor: pointer;
    width: 25px;
    position: absolute;
    right: 0px;
    top: -15px;
    rotate(340deg);
}
.gallery2:hover {
    scale: 1.3;
}

.addFiles#attachment-icon {
    color: #6b665f;
}
.filledFiles#attachment-icon {
    color:red;
}
#oneRed {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -25px;
    right: 3px;
    background: red;
    width: 15px;
    height: 15px;
    z-index: 2;
    border-radius: 50%;
}
#oneRed > p {
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
    font-size: 1.1em;
    position: absolute;
    left: 4px;
}
#attachment-icon {
    /*color: #6b665f;*/
    position: absolute;
    top: -20px;
    background: #fff;
    right: -8px;
    border-radius: 50%;
    transform: rotate(325deg);
}


a.uppy-Dashboard-poweredBy {
    display: none !important;
}

/*
upload files 
*/

/*End of upload files*/


/*
SCROLL CHART TEST
*/

.chartWrapper {
  position: relative;
  margin-top: 2%;
  margin-bottom: 6%;
  margin-right: 0px;
  margin-left: 6%;
}

.chartWrapper > canvas {
  /* position: absolute;
  left: 0;
  top: 0; */
  position: absolute;
  /* pointer-events: none; */
  height: auto;
  /* border-radius: 10px 10px 10px 10px; */
  /* background: white; */
  /* box-shadow: 2px 3px 9px 0px #9a82847a; */
  /* latest */
  /* box-shadow: 2px 3px 9px 0px #d8cecf7a; */
  margin-top: 5px;
  border: solid 3px #faf4e8d9;
}

.chartAreaWrapper2 > canvas {
    border-radius: 10px 10px 10px 10px;
    background: white;
    box-shadow: 2px 3px 9px 0px #9a82847a;
    margin-top: 5px;
    padding-right: 6%;
    touch-action: pan-x !important;
}

.chartAreaWrapper2 {
    margin-bottom: 15px;
}
.chartAreaWrapper {
  width: calc(100% - 3em);
  overflow-x: scroll;
  padding: 5px;
}



/*
UPTO HERE*/


.chart-container1{

 
    position: relative;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    background: white;
    box-shadow: 2px 3px 9px 0px #9a82847a;
    margin-top: 5px;
}


/* css for collapsible */

.collapsible {
    margin-top: 5px;
    margin-left: 5%;
    max-width: 60%;
    min-width: 25%;
    font-size: 13px;
    word-wrap: break-word;
    border-radius: 20px;
    background: white;
}

.collapsible-body {
    padding: 15px;
}

.collapsible-header {
    font-weight: bold;
    color: #2c53af;
}

ul.collapsible>li:first-child .collapsible-header {
    border-radius: 20px 20px 0px 0px;
}

ul.collapsible>li:last-child .collapsible-header {
    color: #2c53af;
    border-radius: 0px 0px 20px 20px;
}

ul.collapsible>li:last-child .collapsible-body {
    border-bottom: none;
}

.collapsible-header {
    padding: 10px;
}

/*login Form*/


/**/

/* css for botTyping */

.botTyping {
    float: left;
    margin-top: 5px;
    background: white;
    color: #2c53af;
    box-shadow: 2px 3px 9px 0px #9a82847a;
    margin-left: 0.5em;
    padding: 15px;
    border-radius: 0 20px 20px 20px;
    max-width: 60%;
    min-width: 20%;
    word-wrap: break-word;
    border-radius: 0 20px 20px 20px;
}

.botTyping>div {
    width: 10px;
    height: 10px;
    background-color: #2c53af;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin-right: 5px;
}

.botTyping .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.botTyping .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

input:focus {
border-bottom: none!important;
box-shadow: none!important;
background-color: none;
}

input {
border-bottom: none!important;
box-shadow: none!important;
background-color: none;
}
video:focus {
    outline: none;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 40px;
    border-radius: 10px;
    border-style: none;
}
/*
form control login
*/
.bform{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    /* Updated colors */
    background: linear-gradient(45deg, rgb(44 60 146), #828bb16e);
    background-color: rgb(44 60 146);
    /* background-color: rgb(90, 23, 238); */
    color: white;
    height: 45px;
    font-size: 1.5em;
    border:none;
}
.bform:hover {
    background-color: rgba(36, 50, 209,0.8);
}

.login-btn{
    width: 100%;
}

/* wave animation */
.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
/* Ends of animation */


/* expense form */
.expense-input-field {
    /* border: solid 1px #cababad1; */
    /* removed border */
    /* border: solid 2px #cababad1; */
    /* border-radius: 20px; */
    border-radius: 0px;
    margin-bottom: 5px;
    margin-top:0px;

    font: 0.8em/1.6em monospace;
    color: #095484;

        /* box-shadow: -2px 2px 86px 12px rgba(206,197,197,0.3);
    -webkit-box-shadow: -2px 2px 86px 12px rgba(206,197,197,0.3);
    -moz-box-shadow: -2px 2px 86px 12px rgba(206,197,197,0.3); */
        box-shadow: rgba(206, 197, 197, 0.3) 0px 2px 30px 0px;
    -webkit-box-shadow: rgba(206, 197, 197, 0.3) 0px 2px 30px 0px;
    -moz-box-shadow: rgba(206, 197, 197, 0.3) 0px 2px 30px 0px;
}

.expense-input-field >  input {
    color: black !important;
}
.expense-text-area >  textarea {
    color: black !important;
}
/* end of expense form */

.expense-text-area {
    /* border: solid 1px #cababad1; */
    border: solid 2px #cababad1;
    margin: 0px;
    margin-bottom: 2px;
    margin-top:0px;
    border-radius:20px;
}

.expense-text-area > textarea{
    height: 100px;
    padding: 10px;
    border-left: 6px solid #095484;
    border-bottom: 6px solid #095484;
    border-radius: 20px 0px 20px 20px;
    margin-bottom:0px;
    /* background-color: #d0e2bc; */
    /* font: 1.4em/1.6em monospace; */
    font: 1.1em/1.2em monospace;
    color: #095484;
}

.expense-text-area:hover {
    background: #E8E8E8;
}

.expense-input-field:hover {
    background: #E8E8E8;
}

.expense-input-field > .active
{   
display: none;
}


.expense-input-field > span{
    display: inline;
    position: absolute;
    right: 0;
    bottom: 3px;
    font-size: small;
    font-style: italic;
    color: red;    
}

/* 

*/


/* autocomplete dropdown */
.expense-input-field > .autocomplete-content{
    height:150px !important;
    overflow-y:scroll !important;
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
    /*box-shadow: 0 1px 6px rgb(32 33 36 / 28%);*/
    border-radius: 24px;
  }
  div:nth-child(1) .expense-input-field > .dropdown-content{
    z-index: 1000 !important;
    /* top:50px !important; */
        /* Added */
        top: -30% !important;
        position: fixed;
  }
  div:nth-child(2).expense-input-field > .dropdown-content{
    z-index: 1000 !important;
    /* top:50px !important; */
        /* Added */
        top: -20% !important;
        position: fixed;
  }

 .highlight {
    background: url(https://www.google.com/images/searchbox/desktop_searchbox_sprites302_hr.webp) no-repeat 0 -21px;
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
    margin: 0px 13px 0px 13px;
    height: 20px;
    width: 20px;
}


#saveExpense {
    margin-top:5px;
    width: 50%;
    margin-left: 25%;
    background: #D3D3D3;
    color:black;
    border: solid 1px #a9a9a98c;
    height: 2.5em;border-radius:20px;
}

.formSubmitBtns {
    background: #D3D3D3;
    color:black;
    border: solid 1px #a9a9a98c;
    height: 2.5em;border-radius:20px;
}
/* #saveExpense:hover {
    background: white;
    scale: 1.2;
    font-size:1.2em;
    color: black;
} */

.sform{
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
    border: 2px solid rgb(176, 181, 177);
    border-radius: 30px;
}

.warning-message {
    background-color: #c8ce0754;
color: rgba(232, 76, 76, 0.9);
border-radius: 6px;
box-shadow: 0px 0px 12px 1px rgba(255,173,55,0.44);
}
.fa-exclamation-triangle {
    color:red;
    font-size: 1.14rem;
}
.mainform{
    margin:auto 5% auto 5%;
    position: absolute;
    top: 25%;
    margin-left: 5%;
    margin-right: 5%;
}
/* Bot pop-up intro */

.tap-target {
    color: #fff;
    background: #5a17ee;
}

.pdf_attachment {
    border: 0.5px solid #00000014;
    width: 60%;
    height: 14%;
    border-radius: 10px;
    margin-left: 10%;
    box-shadow: 2px 3px 9px 0px #9a82842e;
}

.pdf_icon {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    font-size: 25px;
    padding: 7% !important;
    background-color: #5a17ee;
    color: white;
}

.pdf_link {
    padding: 5% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pdf_link a {
    color: #5a17ee;
}
@media(min-width:941px){
    .widget{
        height: 500px;
        width: 350px;
        box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 #00000096;
        border-radius: 10px 10px 10px 10px;
    }
    .chat_header{
        border-radius: 10px 10px 0px 0px;
    }
    .mainform {
        top:12%;
        margin-left: 8%;
    }
}
@media(min-width: 993px){
    .mainform{
        top: 12%;
        margin-left:14%;
    }
}
@media(max-width: 940px){
    .widget{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0px;
    }
    
    .chats{
        height: auto;
        max-height: 90%;
    }
    
}
/*
*/
@media(max-width: 550px){
    .userMsg .botMsg{
        font-size:13px;
    }

.chart-container,
.video-container iframe,
.video-container object,
.video-container embed {
    width: 85%;
}
}
@media(min-width: 560px){
    .userMsg .botMsg{
        font-size:18px;
    }
    .chart-container,
.video-container iframe,
.video-container object,
.video-container embed
 {
    width:89%;
}
}
@media(min-width: 950px){

    .chart-container,
.video-container iframe,
.video-container object,
.video-container embed
{
    width: 85%;
}
}
@media(min-width: 550px){
    .suggestions{
        width: 95%;
    }
    .simple_cards_scroller div.simple_carousel_cards {
        min-width: 32%;
    }
    .multi_simple_cards_scroller div.multi_simple_carousel_cards {
        min-width: 45%;
    }
}
@media(max-width: 549px){
    .suggestions{
        width: 97%;
    }
    .simple_cards_scroller div.simple_carousel_cards {
        min-width: 47%;
    }
    .multi_simple_cards_scroller div.multi_simple_carousel_cards {
        min-width: 60%;
    }
}
@media(min-width: 950px){

    .simple_cards_scroller div.simple_carousel_cards {
        min-width: 47%;
    }
    .multi_simple_cards_scroller div.multi_simple_carousel_cards {
        min-width: 60%;
    }
}

@media(max-width: 549px){
    .chart-container1{
        width: 100%;
    }
}
@media(min-width: 550px){
    .menu{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media(min-width: 950px){
    .menu{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
}
@media(min-width: 750px){
    .graph_cards_scroller {
        height: 259px;
    }
}
@media (min-width: 950px){
.graph_cards_scroller {
    height: 290px;
}
}
@media(min-width: 550px){
    .cardpreviewdata{
        grid-template-columns: 30% 70%;
    }
}

/* media queries
*/
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }